.product-item{
    // padding: 0.5rem!important;
    .mat-card{
        min-height: 350px;
        .product-img{
            padding: 0px;
            background-color: white!important;
            img{
                max-width: 100%;
            }
        }
        
        .product-info-wrapper{
            padding: 0.5rem!important;
            margin-bottom: auto;
            flex-grow: 1;
            .title-wrap{
                
                h4{
                    font-size: 0.9em;
                    font-weight: 300;
                    white-space: normal;
                }
            }
            .price-wrap{
                position: absolute;
                bottom: 0;
                margin-bottom: 0.8rem;
                width: calc(100% - 1rem);     
            }
        }
    }
}

@media(max-width: 1200px){
    .product-item{
        // padding: 0.5rem!important;
        .mat-card{
            min-height: 300px;
        }
    }
}
@media(max-width: 960px){
    .product-item{
        // padding: 0.5rem!important;
        .mat-card{
            min-height: 400px;
        }
    }
}
@media(max-width: 600px){
    .product-item{
        // padding: 0.5rem!important;
        .mat-card{
            min-height: 370px;
        }
    }
}
@media(max-width: 500px){
    .product-item{
        // padding: 0.5rem!important;
        .mat-card{
            min-height: 330px;
        }
    }
}
@media(max-width: 400px){
    .product-item{
        // padding: 0.5rem!important;
        .mat-card{
            min-height: 300px;
        }
    }
}