<form [formGroup]="form">
    <mat-selection-list (selectionChange)="check()" multiple="false" class="list-item-pagos" formArrayName= "cuotas"  >
        <mat-list-option class="pagos-text-row" checkboxPosition="after"  *ngFor="let method of listMethods; let i=index" [value]="method.id">

            <img matListAvatar src="../../../../assets/images/logos-pagos/{{ method.logo }}" alt="...">
            <div class="text-content">
                <div  class="title-list">  
                    {{method.name}}
                </div>
                <div  class="cuotas" *ngIf="method.installments.length >= 1">
                    <span>Cuotas: </span>   
                    <mat-form-field appearance="none">
                        <mat-select class="selectCuotas" [formControlName]="i" (click)="changeCuotas()" [value]="1" >
                            <mat-option *ngFor="let qcuota of method.installments" [value]="qcuota.quantity">
                                {{qcuota.quantity}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

        </mat-list-option>
    </mat-selection-list>
</form>

