
<mat-nav-list>
    <!-- <div class="profile-card">
        <div class="header">
            <h2>Soufiane FADIL</h2>
            <h4>example@email.com</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Soufiane FADIL">
    </div> -->

    <mat-divider></mat-divider>

    <h2 matSubheader>Cliente</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="pedidos">Mis pedidos</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="mis-datos">Mis datos</a>

    <span *ngIf="auth">
        <mat-divider></mat-divider>

        <h2 matSubheader>Administrador</h2>

        <a mat-list-item routerLinkActive="list-item-active" routerLink="usuarios">Usuarios</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">Ventas</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="productos">Artículos</a>



        <mat-divider></mat-divider>

        <h2 matSubheader>Configuraciones</h2>

        <a mat-list-item routerLinkActive="list-item-active" routerLink="categorias">Categorías</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="marcas">Marcas</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">Importar Exportar</a>
    </span>
</mat-nav-list>
