<div class="product-item swiper-container" [swiper]="config">
   <div class="swiper-wrapper h-100">
       <div *ngFor="let brand of brands" class="swiper-slide">
           <mat-card fxLayout="column">
               <div class="product-img">
                   <a class="product-link" [routerLink]="['/tienda/productos/marca/', brand.slug]" [ngStyle]="{'background-image': 'url('+urlFiles+brand.image_url+')'}">
               
                  </a>
               </div>
             </mat-card>
       </div>

   </div>
   <button mat-mini-fab class="swiper-button-prev swipe-arrow"><mat-icon>keyboard_arrow_left</mat-icon></button>
   <button mat-mini-fab class="swiper-button-next swipe-arrow"><mat-icon>keyboard_arrow_right</mat-icon></button>
 </div>