.content {
  width: 100%;
  min-width: 800px;
}
.content .mat-card {
  min-height: 80vh;
  box-shadow: none !important;
  background-color: white;
}
.content .mat-card .mat-table {
  width: 100%;
}
.content .mat-card .image {
  height: 50px;
}
.content .mat-card .btn {
  background-color: #2d86f7;
  color: white;
  margin: 1rem;
}
.content .mat-card form .mat-form-field {
  font-size: 14px;
  width: 30%;
  margin-left: 1rem;
}
.content .mat-card form .corto {
  width: 15%;
}
.content .mat-card form .medio {
  width: 20%;
}
.content .mat-card form .content-btn {
  width: 100%;
}
.content .mat-card .acciones {
  width: 13%;
  text-align: right;
}
.content .mat-card .no-shadow {
  box-shadow: none;
  color: #424242;
  background-color: transparent;
}
.mat-row {
  cursor: pointer;
}
.status {
  font-size: 9px !important;
  border-radius: 50px;
  padding: 1px 5px;
}
.id {
  text-align: center;
}
.searcher {
  width: 500px;
}
