.content{
    width: 100%;
    min-width: 800px;
    .mat-card{
        min-height: 80vh;
        box-shadow: none!important;
        background-color: white;

        .mat-table {
            width: 100%;
        }
    
        .image{
            height: 50px;
        }
        .btn{
            background-color: #2D86F7;
            color: white;
            margin: 1rem;
        }
        form{
            .mat-form-field {
                font-size: 14px;
                width: 30%;
                margin-left: 1rem;
            }
            .corto{
                width: 15%
            }
            .medio{
                width: 20%
            }
            .content-btn{
                width: 100%;
            }
        }
        .acciones{
            width: 13%;
        }
        .no-shadow{
            box-shadow: none;
            color: #424242;
            background-color: transparent;
        }
    
    }

}
.mat-row{
    cursor: pointer;
}
.status{
    font-size: 9px!important;
    border-radius: 50px;
    padding: 1px 5px;
}