.content {
  width: 100%;
  min-width: 800px;
}
.content .mat-table {
  width: 100%;
}
.content .mat-form-field {
  font-size: 14px;
  width: 20%;
  margin-left: 1rem;
}
.content .image {
  height: 50px;
}
.content .btn {
  background-color: #2d86f7;
  color: white;
  margin: 1rem;
}
.content form .mat-form-field {
  font-size: 14px;
  width: 30%;
  margin-left: 1rem;
}
.content .acciones {
  width: 10%;
}
.content .no-shadow {
  box-shadow: none;
  color: #424242;
  background-color: transparent;
}
label {
  height: 50;
  align-items: center;
  padding-top: 10px;
}
label .imgPrev {
  width: 50px;
  min-height: 50px;
  cursor: pointer;
}
