<div class="container" *ngIf="data">
    <div class="upload">
        <label for="file">
            <div class="image-input">
                    <img [src]="'../../../../../assets/images/no-image.svg'" alt="Subir Imagen">
            </div>
        </label>
        <input id="file" hidden type="file" (change)="uploadImage($event)" multiple >
    </div>
    <div class="instructions">

    </div>
</div>

<div cdkDropList cdkDropListOrientation="horizontal" class="list" (cdkDropListDropped)="drop($event)" *ngIf="images">
    <div class="box" *ngFor="let image of images" cdkDrag (mouseover)= "showDelete = true" (mouseleave)="showDelete = false" >
        <mat-icon (click)="removeImage(image.id)" *ngIf="showDelete" class="delete-image" color="warn">delete</mat-icon>
        <img [src]="image.url || '../../../../../assets/images/no-image.svg'" alt="">
        
    </div>
</div>