.category-content ul {
  padding-left: 10%;
}
.category-content ul li a {
  cursor: pointer;
  font-weight: 400;
  color: black;
  display: grid;
  grid-template-columns: 30px auto;
  column-gap: 5px;
  align-items: center;
  margin-bottom: 10px;
  padding-top: 2px;
}
.category-content ul li a .mat-icon {
  padding: -2px;
}
.category-content ul li a:hover {
  color: #ffc111;
}
