.mat-card{
    .content{
        margin-left: 5px;
    }
}
.product-details{
    h2{
        font-size: 1.5em;
    }
    .price{
        text-align: right;
        margin-top: 1rem;
    }
}

.content{
    height: auto!important;
}
.info-prod{

    margin-top: 30px!important;
    padding-right: 0px!important;
}