<div class="container" *ngIf="product">
   <div class="details-wrapper sec-padding">
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="80">
         <div class="content" fxLayout="row wrap" fxFlex="100" fxFlex.gt-md="100" fxFlex.gt-sm="100">
            <div fxFlex="100" fxFlex.gt-md="50" fxFlex.md="45">
               <mat-card class="product-image">
                  <div>
                     <button mat-icon-button fxHide="false" fxHide.gt-md>
                        <mat-icon>fullscreen</mat-icon>
                     </button>
                     <img [src]="urlFiles+product.picture" />
                  </div>
               </mat-card>

            </div>
            <div fxFlex="100" fxFlex.gt-md="50" fxFlex.md="55" ngClass.gt-sm="px-3 m-0" ngClass.sm="mt-2"
               ngClass.xs="mt-2">

               <div class="product-right">
                  <div class="product-details">
                     <h2>{{ product.name}}</h2>
                     <p *ngIf='product.status === "STK"' style="color: red;" >Sin Stock</p>
                     <p *ngIf='product.status === "PRX"' style="color: #2D86F7;" >Proximamente</p>

                     <!-- <h4 *ngIf="!productsService?.catalogMode"><del>{{product.salePrice | currency:productsService?.currency:'symbol'}}</del><span>{{product.discount}}% off</span></h4> -->
                     <!-- PRECIO MAYORISTA -->
                     <h3 class="price" *ngIf="user?.role === 'UMAY'  && !productsService?.catalogMode">
                        <p *ngIf="product.discount"> 
                           <span class="price-old">{{product?.price_mayorista  || product?.price | currency:productsService?.currency:'symbol'}}</span>
                           <span class="discount">
                              {{product.discount }}% OFF
                           </span>
                        </p>
                        <p *ngIf="user?.discount">
                           <span class="discount">
                              -{{ user?.discount }}% OFF Solo para ti.
                           </span>
                        </p>
                        <p><span>Precio Sugerido: {{ calculoDesc(product?.price ,product.discount, user?.discount)  | currency:productsService?.currency:'symbol' }}</span> </p>
                        <p>{{ calculoDesc(product?.price_mayorista  || product?.price ,product.discount, user?.discount)  | currency:productsService?.currency:'symbol' }}</p>
                     </h3>


                     <!-- PRECIO COMUN -->
                     <h3 class="price" *ngIf="user?.role !== 'UMAY'  && !productsService?.catalogMode">
                        <p *ngIf="product.discount"> 
                           <span class="price-old">{{product.price | currency:productsService?.currency:'symbol'}}</span>
                           <span class="discount">
                              {{product.discount }}% OFF
                           </span>
                        </p>
                        <p *ngIf="user?.discount">
                           <span class="discount">
                              -{{ user?.discount }}% OFF Solo para ti.
                           </span>
                        </p>
                        <p>{{ calculoDesc(product.price,product.discount, user?.discount)  | currency:productsService?.currency:'symbol' }}</p>
                     </h3>
                     
                     <!-- <p class="text-muted description">{{product.description}}</p> -->
                  </div>
                  <!-- <div class="py-1 mt-15">
                        <p>
                           <span class="text-muted fw-500">Avalibility: </span>
                           <span class="avalibility" *ngIf="counter <= product.stock"><span>In Stock</span></span>
                           <span class="avalibility" *ngIf="counter > product.stock"><span>Out of Stock</span></span>
                        </p>
                     </div> -->
                  <div class="quantity">
                     <span class="text-muted fw-500">Cantidad</span>
                     <div fxLayout="row" fxLayout.xs="column" class="text-muted">
                        <div fxLayout="row" fxLayoutAlign="center start">
                           <button mat-icon-button matTooltip="Remove" (click)="decrement()">
                              <mat-icon>remove</mat-icon>
                           </button>
                           <input type="text" name="quantity" value="{{counter}}" class="form-control input-number">
                           <button mat-icon-button matTooltip="Add" (click)="increment()">
                              <mat-icon>add</mat-icon>
                           </button>
                        </div>
                     </div>
                  </div>
                  <div class="buttons mt-20">
                     <button mat-raised-button color="primary" class="btn-project mr-10"
                        (click)="addToCart(product, counter)">Agregar al carrito</button>
                     <button mat-raised-button color="primary" class="btn-project"
                        (click)="buyNow(product, counter)">Comprar ahora</button>
                  </div>
               </div>
            </div>
         </div>

         <div class="review-wrapper info-prod" fxFlex="100" fxFlex.gt-md="100" fxFlex.gt-sm="100">
            <mat-card fxFlex="100" fxFlex.gt-md="100" fxFlex.gt-sm="100">
               <mat-tab-group [@.disabled]="true" [selectedIndex]="0">
                  <mat-tab label="Información del Producto">
                     <div class="full-desc lh">
                        <p class="text-muted">{{ product.description }}</p>
                     </div>
                  </mat-tab>
               </mat-tab-group>
            </mat-card>
         </div>
         <!-- DESTACADOS -->
         <!-- <div class="products sec-padding">
            <div class="title">
                <h4 class="widget-title">Featured Products</h4>
              </div>
          <app-product-carousel-three [product]="products | slice:0:6"></app-product-carousel-three>
         </div> -->
      </div>
      <div fxLayout="row wrap" fxHide fxShow.gt-sm fxFlex="100" fxFlex.gt-sm="22">
         <div fxFlex="100">
            <div fxLayout="row wrap" class="info-bar" ngClass.gt-md="m-0">
               <div fxFlex="100">
                  <mat-card class="light-block" fxLayout="row" fxLayoutAlign="space-between center">
                     <mat-icon class="mat-icon-xlg  m-0">pets</mat-icon>
                     <div class="content">
                        <p>CUIDADO</p>
                        <span class="text-muted m-0">Accesorios para el cuidado de tu mascota</span>
                     </div>
                  </mat-card>
               </div>
               <!-- <div fxFlex="100">
                  <mat-card class="light-block" fxLayout="row" fxLayoutAlign="start center">
                     <mat-icon class="mat-icon-xlg  m-0">local_shipping</mat-icon>
                     <div class="content">
                        <p>ENVÍOS SIN CARGO</p>
                        <span class="text-muted m-0">Enviamos a todo el país</span>
                     </div>
                  </mat-card>
               </div> -->
               <div fxFlex="100" class="mt-16">
                  <mat-card class="light-block" fxLayout="row" fxLayoutAlign="start center">
                     <mat-icon class="mat-icon-xlg m-0">dynamic_feed</mat-icon>
                     <div class="content">
                        <p>MARCAS</p>
                        <span class="text-muted m-0">Las marcas más reconocidas</span>
                     </div>
                  </mat-card>
               </div>
               <div fxFlex="100" class="mt-16">
                  <mat-card class="light-block no-border" fxLayout="row" fxLayoutAlign="start center">
                     <mat-icon class="mat-icon-xlg m-0">web</mat-icon>
                     <div class="content">
                        <p>COMO COMPRAR</p>
                        <span class="text-muted m-0">Fácil... Solo añade al carrito de compras</span>
                     </div>
                  </mat-card>
               </div>

            </div>
            <!-- <div class="sale-widget">
               <span class="sale-widget1">
                  BIG SALLE
               </span>
               <span class="sale-widget2">
                  DO NOT MISS IT!
               </span>
               <span class="discount">60</span>
               <div class="percent">
                  <span>%</span>off
               </div>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nects.</p>
            </div> -->
         </div>
      </div>

   </div>
   <!-- <div class="py-2 mt-2">
       <h2>Related Products</h2>
       <div class="divider"></div>
       <app-products-carousel [products]="relatedProducts"></app-products-carousel>
       </div> -->