.mat-card{
    .content{
        margin-left: 5px;
    }
}
.product-details{
    h2{
        font-size: 1.5em;
    }
    .price{
        text-align: right;
        margin-top: 1rem;
    }
}


@media (max-width: 768px){
    .content{
        position: relative!important;
        height: auto!important;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    .info-prod{
        display: none!important;
        position: relative!important;
        margin-top: 30px!important;
        padding-right: 0px!important;
    }
    .product-right{
        height: auto!important;
        min-height: 50%!important;
        .buttons{
            button{

                width: 100%!important;
                margin-bottom: 5px;
            }
        }
    }
}
