.content{
    width: 100%;
    min-width: 800px;
    border-radius: 10px;
    overflow: hidden;
    .mat-card{
        min-height: 80vh;
        box-shadow: none!important;
        background-color: white;
        border-top: solid 6px #ffd740;
        .mat-table {
            width: 100%;
        }
        .mat-form-field {
            font-size: 14px;
            width: 20%;
            margin-left: 1rem;
    
        }
        .image{
            height: 50px;
        }
        .btn{
            background-color: #2D86F7;
            color: white;
            margin: 1rem;
        }
        form{
            .mat-form-field {
                font-size: 14px;
                width: 30%;
                margin-left: 1rem;
            }
        }
        .acciones{
            width: 10%;
        }
        .id{
            text-align: center!important;
        }
        .no-shadow{
            box-shadow: none;
            color: #424242;
            background-color: transparent;
        }

    }

}
label{
    height: 50;
    align-items: center;
    padding-top: 10px;
    .imgPrev{
        width: 50px;
        min-height: 50px;
        cursor: pointer;
        // background-image: ;
    }

}
.price{
    
    // justify-items: stretch;
}
.DIS{
    .mat-cell, ::ng-deep.mat-select-value{
        color: #ccc!important

    }
}
.STK{
    .mat-cell, ::ng-deep.mat-select-value{
        color: red!important

    }
}
.PRX{
    .mat-cell, ::ng-deep.mat-select-value{
        color: green!important;

    }
}