<div class="content">
    <mat-card>

        <mat-card-header>
            <mat-card-title>
                Administrar Artículos
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <ng-container *ngIf="mostrar; then muestra; else oculto"></ng-container>
            <ng-template #muestra>

            </ng-template>
            <ng-template #oculto>
                <button class="btn" mat-mini-fab aria-label="Agregar Nuevo" (click)="openDialog()">
                    <mat-icon>add</mat-icon>
                </button>
            </ng-template>

            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
            </mat-form-field>

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td class="id" mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <!-- name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Título </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- name Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef ngf> Estado </th>
                    <td mat-cell  *matCellDef="let element "> 
                        <mat-form-field style="width: 70px;" appearance="none">
                            <mat-select  [value]="element.status" (selectionChange)="updateStatus($event,element)">
                              <mat-option *ngFor="let status of statusOptions" [value]="status.value">{{status.title}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </td>
                </ng-container>

                <!-- name Column -->
                <ng-container matColumnDef="marca">
                    <th mat-header-cell *matHeaderCellDef> Marca </th>
                    <td mat-cell *matCellDef="let element"> <span *ngIf="element.brand">{{element.brand.name}}</span>
                    </td>
                </ng-container>

                <!-- name Column -->
                <ng-container matColumnDef="categoria">
                    <th mat-header-cell *matHeaderCellDef> Categoría </th>
                    <td mat-cell *matCellDef="let element"> {{element.category.name}} </td>
                </ng-container>

                <!-- name Column -->
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef> Price </th>
                    <td mat-cell *matCellDef="let element" class="price"><span>$
                        </span><span>{{element.price | number}}</span> </td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef> Accioes </th>
                    <td class="acciones" mat-cell *matCellDef="let element">
                        <button mat-icon-button [matMenuTriggerFor]="menuAcciones" aria-label="Acciones">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menuAcciones="matMenu">
                            <button mat-menu-item (click)="openDialog(element)">
                                <mat-icon>edit</mat-icon>
                                <span>Editar Registro</span>
                            </button>
                            <button mat-menu-item (click)="deleteReg(element.id)">
                                <mat-icon>delete</mat-icon>
                                <span>Eliminar Registro</span>
                            </button>

                        </mat-menu>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="row.status"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[20,50,100]" showFirstLastButtons></mat-paginator>
        </mat-card-content>
    </mat-card>
</div>