        form{
            display: grid;
            margin-top: -2rem;
            grid-template-columns: repeat(4,1fr);
            column-gap: 20px;
            justify-items: center;

            textarea{
                height: 100px;
            }
            box-sizing: border-box;
            .mat-dialog-title{
                grid-column: 1/5;
            }
            .imagePreview{
                grid-column: 1/3;
                grid-row: 2/7;
                max-width: 250px;
                // max-height: calc(width);
                display: grid;
                align-items: center;
                justify-items: center;
                border: solid 1px #CBD4D4;
                padding: 0.5rem;
                border-radius: 5px;
                margin-bottom: 1rem;
                img{
                    max-width: 100%;
                }
            }
            .c1{
                grid-column: span 1;
            }
            .c2{
                grid-column: span 2;
            }
            .c3{
                grid-column: span 3;
            }
            .c4{
                grid-column: span 4;
            }
            .mat-form-field {
                font-size: 12px;
                width: 100%;
            }
        }
        .btn-close{

            box-shadow: none;
            color: #424242;
            background-color: transparent;
        }
        label{
            align-items: center;
            padding-top: 10px;
            .imgPrev{
                width: 50px;
                min-height: 50px;
                cursor: pointer;
                // background-image: ;
            }
        
        }
        .btn{
            background-color: #2D86F7;
            color: white;
            margin: 1rem;
        }

