<div class="my-account sec-padding">
  <div class="container">
      <mat-card fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start"  class="p-0">
          <div class="my-account-wrap p-0" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start" >
              <div class="login-wrapper pr-50" fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50">
                  <div class="title">
                    <h3>Entrar</h3>
                  </div>
                  <form fxLayout="row wrap">
                      <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                          <mat-form-field class="w-100">
                              <input matInput placeholder="Correo Electrónico" #name="ngModel" ngModel name="name" required>
                              <mat-error *ngIf="name.invalid">Campo inválido</mat-error>
                            </mat-form-field>
                      </div>
                      <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                          <mat-form-field class="w-100">
                              <input matInput placeholder="Contraseña" #email="ngModel" ngModel name="email" required>
                              <mat-error *ngIf="email.invalid">Campo inválido</mat-error>
                            </mat-form-field>
                      </div>
                      <div class="button-wrap" fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                          <button class="btn-project" mat-raised-button color="accent" type="submit">Entrar</button>
                        </div>
                      </form>
                </div>
                <div class="register-wrapper pr-15" fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50">
                    <div class="title">
                        <h3>Registrarse</h3>
                      </div>
                      <div class="register-body">
                        <p>Cree una nueva cuenta para obtener los beneficios de una experiencia de compra personalizada.</p>
                        <form fxLayout="row wrap">
                            <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                                <mat-form-field class="w-100">
                                    <input matInput placeholder="Correo electrónico" #name="ngModel" ngModel name="name" required>
                                    <mat-error *ngIf="name.invalid">Campo inválido</mat-error>
                                  </mat-form-field>
                            </div>

                            <p>Sus datos personales se utilizarán únicamente para mejorar la experiencia en este sitio web, para administrar el acceso a su cuenta.</p>
                            <div class="button-wrap" fxFlex="100" fxFlex.gt-sm="100" ngClass.sm="mt-1" ngClass.xs="mt-1">
                                <button class="btn-project" mat-raised-button color="accent" type="submit">Registrarse</button>
                              </div>
                            </form>
                      </div>
                  </div>
        </div>
      </mat-card>

  </div>
</div>
