<div class="content">
    <div class="container brands-popular">
        <div class="products sec-padding">
          <div class="products-four">
    
            <h3>Marcas Populares</h3>
            <app-product-carousel-two [brands]="brands | slice:0:8"></app-product-carousel-two>
    
          </div>
        </div>
    </div>
    <div class="medios-pago">
        <img src="../../../../assets/images/footer/mediospagopie.png" alt="">
    </div>
    <div class="footer-grids">
        <div class="footer one">
            <h3>PÓNGASE EN CONTACTO</h3>
            <form [formGroup]="form" >
                <ul>
                    <li>
                        <mat-form-field class="form-campo-footer" appearance="outline" appearance="fill">
                            <input formControlName="name" matInput placeholder="Nombre">
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" appearance="fill">
                            <input formControlName="phone" matInput placeholder="Teléfono">
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" appearance="fill">
                            <input formControlName="email" matInput placeholder="Correo electrónico">
                        </mat-form-field>

                    </li>
                    <li>
                        <mat-form-field appearance="outline" appearance="fill">
                            <mat-label>Mensaje</mat-label>
                            <textarea formControlName="message" matInput placeholder="Ingresar tu consulta"></textarea>
                        </mat-form-field>
                    </li>
                    <li>
                        <button mat-button mat-flat-button [disabled]="!form.valid" (click)="onSubmit()" >Enviar</button>

                    </li>
                </ul>
            </form>
            <div class="clear"></div>
        </div>
        <div class="footer two">
            <h3>Nuestras redes</h3>
            <ul>
                <li><a class="fb" href="https://www.facebook.com/distribuidoranuevaerauruguay"><i></i>Facebook</a></li>
                <!-- <li><a class="fb1" [routerLink]="[ '/contacto/whatsapp' ]"><i></i>WhatsApp</a></li> -->
            </ul>
        </div>
        <div class="footer three">
            <h3>Información de contacto</h3>
            <ul>
                <li>Bv. José Batlle y Ordóñez 3171</li>
                <li><a href="tel:+59824810610">2481-0610</a>&nbsp;/&nbsp;<a href="tel:+598092843843">092 843 843</a>
                </li>
                <li><a href="mailto:veterinarianuevaera@gmail.com">veterinarianuevaera@gmail.com</a> </li>
                <li>Lunes a Viernes:9.00 am - 19.00 pm<br>
                    Sábados:9.00 am - 14.00 pm
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="copy-right-grids">
        <div class="copy-left">
            <p class="footer-gd">© Todos los derechos reservados. Nueva Era Uruguay 2020</p>
        </div>
        <div class="copy-right">
            <!-- <ul>
                <li><a href="#">Company Information</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
            </ul> -->
        </div>
        <div class="clear"></div>
    </div>
</div>