.container{
    background-color: white;
    max-width: none;
}

.mat-menu-item{
    border-radius: 10px;
}
:host{

    // .megamenu{
    //     width: 500px!important;
    //     display: flex!important;
    //     flex-direction: row!important;
    // }
    // .mat-menu-panel{
    //     width: 500px!important;
    //     display: flex!important;
    //     flex-direction: row!important;
    // }
    // .mat-menu-content{
    //     width: 500px!important;
        
            
    // }
}