.logo{
    img{
        width: 200px;
    }
}
.menu-container4{
    border: none;
    
}
span a{
    font-size: 14px!important;
    color: black;
}
.home-header-4 .call-bucket-wrap .info-message-icon .info-text p{
    line-height: 3px!important;

}