
<div class="home-header-4">
    <div class="container"fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px" fxlayoutalign="space-between center">
      <div class="logo">
          <a [routerLink]="['/home']" routerLinkActive="router-link-active"  ><img src="assets/images/logo.svg"></a>
      </div>

      <div fxflexoffset.gt-sm="10"  fxFlex class="search-form">
        <form [formGroup]="formSearch" class="search-form" fxLayout="row" >
         <div class="form-wrap">
            <input type="text" formControlName="buscando" placeholder="Busca lo que nacesitas para tu mascota...">
            <button class="btn-search" (click)="onSubmit()"><i class="fa fa-search"></i></button>
         </div>
       </form>
      </div>

      <div class="call-bucket-wrap" fxLayout="row" fxLayout.sm="row" fxLayoutAlign="center center" >
        <div class="info-message-icon"  fxLayout="row" fxLayoutAlign="center center">
          <div class="icon"  fxLayout="row" >
              <mat-icon class="mat-icon-lg mat-icon material-icons">call</mat-icon>
          </div>
            <div class="info-text">
              <p>Pedidos:</p>
               <span><a href="tel:+59824810610">2481 0610</a>  / <a href="tel:+598092843843">092 843 843</a></span>
            </div>
        </div>
        <div class="main-menu-wrapper-2" fxLayout="row" fxLayoutAlign="space-between center" >
            <mat-toolbar class="top-navbar top menu">
              <app-shopping-widgets [shoppingCartItems]="shoppingCartItems"></app-shopping-widgets>
            </mat-toolbar>
          </div>
      </div>
    </div>
  </div>
  <div fxShow="false" fxShow.gt-sm class="menu-container4">
      <app-menu></app-menu>
  </div>


