<div class="product-item swiper-container" [swiper]="config" >
    <div class="swiper-wrapper h-100">
        <div *ngFor="let product of product" class="swiper-slide">
            <mat-card fxLayout="column">
                <div class="product-img">
                    <a class="product-link" [routerLink]="['/tienda/producto', product.slug]">
                      <img [src]="urlFiles+product.picture">
                   </a>
                </div>
                 <div class="product-info-wrapper">
                    <span class="category">{{product.category.name}}</span>
                    <div class="title-wrap">
                       <h4>{{product.name}}</h4>
                    </div>
                    <div class="price-wrap" fxLayout="row" fxLayoutAlign="space-between center">
                     <p>${{product.price | number : '1.2-2'}}</p>
                    <a (click)="addToCart(product)"><mat-icon class="mat-icon-lg mat-icon material-icons">shopping_cart</mat-icon></a>
                    </div>
 
                 </div>
              </mat-card>
        </div>

    </div>
    <button mat-mini-fab class="swiper-button-prev swipe-arrow"><mat-icon>keyboard_arrow_left</mat-icon></button>
    <button mat-mini-fab class="swiper-button-next swipe-arrow"><mat-icon>keyboard_arrow_right</mat-icon></button>
  </div>
