   .mat-card{
        min-height: 350px;
        .product-img{
            padding: 0px;
            background-color: white!important;
            img{
                max-width: 75%;
            }
        }
        
        .product-info-wrapper{
            padding: 0.5rem!important;
            margin-bottom: auto;
            flex-grow: 1;
            .title-wrap{
                
                h4{
                    font-size: 0.9em;
                    font-weight: 300;
                    white-space: normal;
                }
            }
            .price-wrap{
                position: absolute;
                bottom: 0;
                margin-bottom: 0.8rem;
                width: calc(100% - 1rem);     
            }
        }
    }
